html {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
}

input {
  margin-bottom: 1em;
  width: 20em;
  padding: 0.3em;
  font-size: 1.8em;
}

h2 {
  font-size: 3.5em;
}

.wrapper {
  position: relative;
  height: 55em;
  margin: 12em 0em;
}

.score-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.final-score {
  font-size: 4em;
  text-align: center;
}

.end-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50vw;
}

.btn {
  font-size: 2.5em;
  padding: 0.3em 2em;
  border: none;
  background-color: rgb(44, 44, 255);
  color: white;
  border-radius: 10px;
  margin-top: 1em;
  display: block;
}
