html {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  /* border: 1px black solid; */
  font-size: 2em;
}

header div {
  padding: 0.7em 1.5em;
}

.wrapper {
  position: relative;
  height: 55em;
  margin: 12em 0em;
}

.card-container,
.question-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-container h1 {
  font-size: 4.5em;
}

.card-instructions,
.question {
  width: 80vw;
  font-size: 2em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.start-button,
.answer-btn {
  font-size: 2.5em;
  padding: 0.3em 5em;
  border: none;
  background-color: rgb(44, 44, 255);
  color: white;
  border-radius: 10px;
  margin-top: 1em;
}
